/*
This css is not used by program
*/
graph {
    padding: 100px, 100px;
}

node {
    size: 15px;
    text-alignment: at-right;
    text-offset: 30, 30;
    text-size: 30;
    text-background-mode: plain;
    fill-color: #DEE;
    size: 15px;
    stroke-mode: plain;
    stroke-color: #555;
}


node.input {
    fill-color: green;
}

node.output {
    fill-color: red;
}

node.reducer {
    fill-color: blue;
}

node.joiner {
    fill-color: orange;
}

edge {
    arrow-shape: arrow;
    arrow-size: 20px, 4px;
}